<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="logout">Logout</a></li>
  </ul>
  <h3 class="text-muted">Cloud Images UI</h3>
</div>

<div class="row marketing">
  <h4>API Endpoints</h4>
  <ul>
    <li ng-repeat="(service, catalog) in user.serviceCatalog">
      {{service}} -
      <span ng-repeat="(region, enpoint) in catalog.endpoints">
        <a ng-if="region == 'default'" href="/proxy/{{service}}/{{getListCall(service)}}">default</a>
        <a ng-if="region != 'default'" href="/proxy/{{service}},{{region}}/{{getListCall(service)}}">{{region | uppercase}}</a>{{{true: '', false: ', '}[$last]}}
      </span>
    </li>
  </ul>
  <h4>Servers</h4>
  <p ng-show="servers.length > 0">
    <ul>
      <li ng-repeat="server in servers">
        <a href="/proxy/cloudServersOpenStack,ORD/servers/{{server.id}}" title="{{server.status}}">{{server.name}}</a> - {{server.accessIPv4}}
      </li>
    </ul>
  </p>
</div>
