<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="logout">Logout</a></li>
  </ul>
  <h3 class="text-muted">Cloud Images UI</h3>
</div>

<div class="row marketing">
  <h4>API Endpoints</h4>
  <p>Servers</p>
  <ul>
    <li><a ng-href="/proxy/cloudServersOpenStack,ORD/servers">Servers [ORD]</a></li>
    <li><a ng-href="/proxy/cloudServersOpenStack,DFW/servers">Servers [DFW]</a></li>
    <li><a ng-href="/proxy/cloudServersOpenStack,IAD/servers">Servers [IAD]</a></li>
  </ul>
  <p>Images</p>
  <ul>
    <li><a ng-href="/proxy/cloudServersOpenStack,ORD/images">Images [ORD]</a></li>
    <li><a ng-href="/proxy/cloudServersOpenStack,DFW/images">Images [DFW]</a></li>
    <li><a ng-href="/proxy/cloudServersOpenStack,IAD/images">Images [IAD]</a></li>
    <li><a ng-href="/proxy/cloudServersOpenStack,LON/images">Images [LON]</a></li>
  </ul>
  <h4>Servers</h4>
  <p ng-show="servers.length > 0">
    <ul>
      <li ng-repeat="server in servers">
        <a href="/proxy/cloudServersOpenStack,ORD/servers/{{server.id}}" title="{{server.status}}">{{server.name}}</a> - {{server.accessIPv4}}
      </li>
    </ul>
  </p>
</div>
